services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: actividad_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/schema.sql:/docker-entrypoint-initdb.d/1-schema.sql
      - ./db/seed.sql:/docker-entrypoint-initdb.d/2-seed.sql
      - ./db/reports_vw.sql:/docker-entrypoint-initdb.d/3-reports.sql
      - ./db/roles.sql:/docker-entrypoint-initdb.d/4-roles.sql
      - ./db/indexes.sql:/docker-entrypoint-initdb.d/5-indexes.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d actividad_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_app
    restart: always
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: "postgresql://app_reporter:NextPassword2026@db:5432/actividad_db"
      NODE_ENV: development
      WATCHPACK_POLLING: "true"
      NEXT_TELEMETRY_DISABLED: 1
    stdin_open: true
    tty: true
    depends_on:
      db:
        condition: service_healthy

volumes:
  postgres_data: